<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet"
              href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">

    {% endblock %}
</head>

<body>
<div class="container-fluid">

    <div id="header" class="container-fluid jumbotron">

        <a href="{{ path('louvre_homepage') }}"><img src="{{ asset('img/louvre') }}" alt="Billeterie du louvre"   class="col-md-3 logo"></a>


    </div>

    <div class="row">

        <div id="content" class="body no-bg">
            {% block body %}
                <div class="well text-center">
                    <h2 class="text-center no-bg">Désolé cette page n'existe pas - Erreur {{ status_code }}</h2>

                    <a class="btn btn-primary btn-lg" href="{{ path('louvre_homepage') }}" role="button"> Retour à l'accueil  </a>
                </div>
            {% endblock %}
        </div>
    </div>
</div>
{% block footer %}
    <footer>
        <div class="footer">
            <p>Musée du Louvre 2016
            </p>
        </div>
    </footer>
{% endblock %}

</body>
</html>
