<!DOCTYPE html>
<html>
<body>
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


{% endblock %}
<img  src="https://f.hypotheses.org/wp-content/blogs.dir/523/files/2016/02/Louvre-logo.jpg" class="img-responsive" alt="logo-louvre"></a>
<h3>{{ 'titre.mail'|trans }}</h3>

<h4>{{ 'mail.recap'|trans }}</h4>
<div>
    <p>{{ 'mail.visitor'|trans }} <br>
        {{ 'mail.merci'|trans }} : {{ commande.codeReservation }}</p>
    <p><strong>{{ 'mail.text'|trans }}</strong></p>
</div>
<p>{{ 'mail.information'|trans }}:{{ commande.dateReservation|date('d/m/Y') }} {{ 'mail.total'|trans }} {{ commande.prixTotal }} &#8364;</p>
{% for ticket in commande.tickets %}
    <div class="col-xs-offset-2 well col-xs-8 ">
        <ul class="list-group">
            <h4 class="list-group-item-heading text-center" id="billet_liste"><strong>{{ 'billet'|trans }}
                    N° {{ loop.index }}</strong></h4>
            <br>
            <li class="list-group-item list-group-item-info "><strong>{{ 'nom'|trans }}: </strong>{{ ticket.nom }}</li>
            <li class="list-group-item list-group-item-info "><strong>{{ 'prenom'|trans }}: </strong>{{ ticket.prenom }}</li>
            <li class="list-group-item list-group-item-info "><strong>{{ 'pays'|trans }} : </strong>{{ ticket.pays }}</li>
            <li class="list-group-item list-group-item-info "><strong>{{ 'DatedeNaissance'|trans }}
                    : </strong>{{ ticket.dateNaissance|date('d/m/Y') }}</li>
            <li class="list-group-item list-group-item-info "><strong>{{ 'DatedeVisite'|trans }}
                    : </strong>{{ commande.dateVisite|date('d/m/Y') }}</li>
            <li class="list-group-item list-group-item-info "><strong>{{ 'Typebillet'|trans }} choisi
                    : </strong>{{ commande.typeBillet|replace({'false': "Demi Journée / Half-Day (14:00 - 18:00)", 'true': "Journée Entière / Full Day (09:00 - 18:00)"}) }}
            </li>
            <li class="list-group-item list-group-item-info "><strong>{{ 'prix'|trans }}
                    : </strong>{{ ticket.prix|number_format(2, ',', '.') }} &#8364; - ({{ ticket.typeTarif }})
            </li>
        </ul>
    </div>


{% endfor %}
</body>
<footer>
    Ceci est un Faux Billet de réservation dans le cadre du Projet N°3 de OPENCLASSROOMS pour le parcours CDP Dev
</footer>
</html>