<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>{% block title %}{{ 'titleSite'|trans }} {% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet"
              href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">



    {% endblock %}
</head>

<body id="Louvre">
<div class=" container col-md-offset-2 col-md-8 col-md-offset-2 no-bg">
    <div class="well col-md-offset-2 col-md-8 no-bg">

        <!--drapeau language french -->
        <a class="text-center" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"><img
                    src="{{ asset('img/flagsfr.png') }}"></a>

        <!--dreapeau language english-->
        <a  class="text-center" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"><img
                    src="{{ asset('img/flagsuk.png') }}"> </a>

        <!--image louvre banniere -->
        <h1><img class="center" src="{{ asset('img/louvre.jpg') }}" alt="LOUVRE"></h1>


    </div>
    <div class="container-fluid">


        <div class="row">

            <div id="content" class="body">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% block footer %}

    <div class=" container col-md-offset-2 col-md-8 col-md-offset-2 no-bg">
        <div class="well col-md-offset-2 col-md-8 no-bg">
            <!-- Block Paiement accepte -->
            <div class="text-center ">
                <span align="center">Paiement 100% sécurisé</span>
                <br/>
                <img alt="master"
                     src="https://www.ticketlouvre.fr/louvre/b2c/assets/img/louvre/payment/mastercard.gif">
                <img alt="Visa"
                     src="https://www.ticketlouvre.fr/louvre/b2c/assets/img/louvre/payment/visa.gif">
                <img alt="e.BLEUE"
                     src="https://www.ticketlouvre.fr/louvre/b2c/assets/img/louvre/payment/e_bleue.gif">

                <a href="https://www.ticketlouvre.fr/louvre/b2c/index.cfm/3d.secure"
                   class="small-button next"
                   target="_blank">
                    <br/>
                    <span class="link_3d_secure">3D Secure</span>
                </a>
                <p> Site non officiel pour les besoins de l'excercice projet 3 d'openclassrooms Chef de
                    projet
                    Developpement</p>
            </div>
        </div>
    </div>
{% endblock %}



{% block javascripts %}

    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('js/datepicker-fr.js') }}"></script>

{% endblock %}

</body>
</html>
