{% extends "AppBundle::layout.html.twig" %}
{% block body %}
    <div class="well col-md-offset-2 col-md-8 no-bg">
        <div class="bg">
            {% for flash_message in app.session.flashBag.get('success') %}
                <div class="col-xs-offset-4 col-xs-4 well">
                    {{ flash_message }}
                </div>
            {% endfor %}


            <h4 class="text-center">{{ 'textebienvenue'|trans }}</h4>
            <br>
            <br>
            <div class="text-center">
                <!-- Modal horaires -->
                <button type="button" class="btn btn-danger btn-lg pull-left" data-toggle="modal"
                        data-target="#horaires">
                    {{'horaires'|trans }}
                </button>
                <a class="btn btn-primary btn-lg" href="{{ path('louvre_informations') }}" role="button">
                    {{'buttonshop'|trans }} </a>
                <!-- Modal tarif -->
                <button type="button" class="btn btn-danger btn-lg pull-right" data-toggle="modal"
                        data-target="#tarifs">
                    {{'tarifs'|trans }}
                </button>
            </div>
            <br>
            <br>

        </div>
    </div>
    <!--   MODAL  TARIF ET HORAIRES       -->
    <!-- Modal horaires -->
    <div class="modal fade" id="horaires" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="wizard-title text-center" id="myModalLabel">LES HORAIRES</h4>
                </div>
                <div class="modal-body text-center">
                    <P>Le musée est ouvert tous les jours sauf le mardi, de 9h00 à 18h00.</P>
                    <p>Le musée est fermé les 1er mai, 1er novembre et 25 décembre.</p>
                </div>
                <div class="modal-header">
                    <h4 class="wizard-title text-center">RÉSERVATION</h4>
                </div>
                <div class="modal-body text-center">
                    <p>Les dimanches et jours fériés ne sont pas ouverts à la réservation.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal tarifs -->
    <div class="modal fade" id="tarifs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="wizard-title text-center" id="myModalLabel">LES TARIFS</h4>
                </div>
                <div class="modal-body">
                    <h4>Tarifs journée</h4>
                    <p>Entrée gratuite : enfants de moins de 4 ans.</p>
                    <p>Tarif enfant : 8 euros (de 4 à 11 ans).</p>
                    <p>Tarif normal : 16 euros (de 12 à 59 ans).</p>
                    <p>Tarif senoir : 12 euros (à partir de 60 ans).</p>
                    <p>Tarif réduit : 10 euros (étudiant, employé du musée, d’un service du ministère de la Culture,
                        militaire, demandeur d'emploi, sur présentation d'un justificatif).</p>
                    <br>
                    <h4>Tarifs demi-journée</h4>
                    <p>Le billet demi-journée permet de rentrer à partir de 14h en bénéficiant d'une réduction de 50%
                        sur le prix de base.</p>
                    <br>
                    <h4>La présence d'un majeur est obligatoire avec un enfant mineur.</h4>
                    <p>Pour les enfants de 4 ans, un billet adulte doit être rajouté, sinon le paiement sera refusé.</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
