{% extends "AppBundle::layout.html.twig" %}

{% block stylesheet %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}

    <div class="well col-md-offset-2 col-md-8 no-bg">

        <h2 class="text-center">{{ 'texteinformations'|trans }}</h2>
    </div>

    <br>
    <br>
    <div class="well col-md-offset-2 col-md-8 no-bg">
        {{ form_start(resaForm, {'attr' : {'id' : 'info_form'}}) }}
        <div class="form-group">
            <i class="glyphicon glyphicon-calendar"></i>
            {{ form_label(resaForm.dateVisite, 'datevisite'|trans) }}
            {{ form_errors(resaForm.dateVisite) }}
            {{ form_widget(resaForm.dateVisite, {'attr': {'class': 'date_visite', 'placeholder' :'Saisissez une date dans le calendrier...'}}) }}
        </div>
        <div class="form-group">
            <i class="glyphicon glyphicon-tags"></i>
            {{ form_label(resaForm.nbBillets, 'nombrebillet'|trans) }}
            {{ form_errors(resaForm.nbBillets) }}
            {{ form_widget(resaForm.nbBillets, {'attr': {'class': 'form-control', 'placeholder' : 'Indiquez le nombre de billets souhaité'}}) }}
        </div>
        <div class="form-group">
            <i class="glyphicon glyphicon-info-sign"></i>
            {{ form_label(resaForm.typeBillet, 'Typebillet'|trans) }}
            {{ form_errors(resaForm.typeBillet) }}
            {{ form_widget(resaForm.typeBillet, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <i class="glyphicon glyphicon-envelope"></i>
            {{ form_label(resaForm.email, 'email'|trans) }}
            {{ form_errors(resaForm.email) }}
            {{ form_widget(resaForm.email, {'attr': {'class': 'form-control'}}) }}
        </div>

        {{ form_end(resaForm) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('js/datepicker-fr.js') }}"></script>
    <script src="{{ asset('js/joursFeries.js') }}"></script>

{% endblock %}
