{% extends "AppBundle::layout.html.twig" %}
{% block stylesheets %}

    {{ parent() }}

{% endblock %}

{% block body %}
    <div class="well col-md-offset-2 col-md-8 no-bg">

        <h1 class="text-center">{{ 'title.recap'|trans }}</h1>
    </div>


    {% for ticket in commande.tickets %}

        <div class="well col-md-offset-2 col-md-8 no-bg">


            <ul class="list-group">
                <h4 class="list-group-item-heading text-center" id="billet_liste">
                    <strong>{{ 'billet'|trans }} N°{{ loop
                        .index }}</strong></h4>
                {% for flash_message in app.session.flashBag.get('notice') %}
                    <div class="flash-notice text-center">
                        {{ 'coordonnee'|trans }}
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashBag.get('error') %}
                    <div class="error-notice text-center">
                        {{ 'erreur'|trans }}
                    </div>
                {% endfor %}
                <br>
                <li class="list-group-item list-group-item-info "><strong>{{ 'nom'|trans }} : </strong>{{ ticket
                    .nom }}</li>
                <li class="list-group-item list-group-item-info "><strong>{{ 'prenom'|trans }} : </strong>{{ ticket
                    .prenom }}</li>
                <li class="list-group-item list-group-item-info "><strong>{{ 'pays'|trans }} : </strong>{{ ticket
                    .pays }}</li>
                <li class="list-group-item list-group-item-info "><strong>{{ 'DatedeNaissance'|trans }}
                        : </strong>{{ ticket.dateNaissance|date('d/m/Y') }}</li>
                <li class="list-group-item list-group-item-info "><strong>{{ 'DatedeVisite'|trans }}
                        : </strong>{{ commande.dateVisite|date('d/m/Y') }}</li>
                <li class="list-group-item list-group-item-info "><strong>{{ 'Typebillet'|trans }}
                        : </strong>{{ commande.typeBillet|replace({'false': "Demi-Journée", 'true': "Journée"}) }}
                </li>
                <li class="list-group-item list-group-item-info "><strong>{{ 'prix'|trans }}
                        : </strong>{{ ticket.prix|number_format(2, ',', '.') }} &#8364;
                </li>
                <li class="list-group-item list-group-item-info "><strong>{{ 'codedereservation'|trans }}
                        : </strong>{{ commande.codeReservation }}
                </li>
            </ul>
        </div>


    {% endfor %}

    <div class="well col-md-offset-2 col-md-8 no-bg">
        <ul class="list-unstyled">
            <li class="list-group-item list-group-item-info "><strong>{{ 'email'|trans }}
                    : </strong>{{ commande.email }}
            </li>
        </ul>
    </div>


    <div class="well col-md-offset-2 col-md-8 no-bg">


        <p class="text-center">{{ 'Total : ' }} : <strong> {{ commande.prixTotal|number_format(2, ',', '.') }}
                &#8364;</strong></p>
        <div class="hidden-xs text-center">
            <form method="POST" class="text-center">
                <script
                        src="https://checkout.stripe.com/checkout.js"
                        class="stripe-button"
                        data-key="{{ stripe_pk }}"
                        data-amount="{{ commande.prixTotal * 100 }}"
                        data-name="Billeterie du Louvre"
                        data-description="Paiement"
                        data-locale="fr"
                        data-currency="eur"
                        data-allow-remember-me="false"
                        data-email="{{ commande.email }}"
                >
                </script>
                <button class="btn btn-primary" style="float: right;">{{ 'payer'|trans }}</button>
            </form>
            <a class="btn btn-danger btn-md"
               href="{{ path('louvre_reservation', {'codeReservation': commande.codeReservation}) }}" role="button"
               style="float: left;">{{ 'modif'|trans }}</a>
        </div>
        {#  Responsive Buttons  #}

        <div class="btn-group-vertical visible-xs">
            <form method="POST" class="text-center">
                <script
                        src="https://checkout.stripe.com/checkout.js"
                        class="stripe-button"
                        data-key="{{ stripe_pk }}"
                        data-amount="{{ commande.prixTotal * 100 }}"
                        data-name="Billeterie du Louvre"
                        data-description="Paiement"
                        data-locale="fr"
                        data-currency="eur"
                        data-allow-remember-me="false"
                        data-email="{{ commande.email }}"
                >
                </script>
                <button class="btn btn-primary " style="width: 100%">{{ 'payer'|trans }}</button>
            </form>
            <a class="btn btn-danger text-center"
               href="{{ path('louvre_reservation', {'codeReservation': commande.codeReservation}) }}" role="button"
               style="border-radius: 4px;">{{ 'modif'|trans }}</a>
        </div>
    </div>


{% endblock %}
