{% extends "AppBundle::layout.html.twig" %}
{% block body %}

    <div class="well col-md-offset-2 col-md-8 no-bg">


        <h4 class="text-center">{{ 'merci'|trans }}</h4>

    </div>
    <div class="well col-md-offset-2 col-md-8 no-bg">
        <h3 class="text-center">{{ 'numerocommande'|trans }} : <strong> {{ commande.codeReservation }} </strong></h3>
    </div>
    <div class="well col-md-offset-2 col-md-8 no-bg">
        <p class="text-center">{{ 'mailconfirmation'|trans }}: <strong>{{ commande.email }}</strong> <br>
            {{ 'recap'|trans }}  </p>
        <p class="text-center"><a class=" btn btn-primary btn-lg" href="{{ path('louvre_homepage') }}" role="button">  {{ 'retouraccueil'|trans }} </a></p>
    </div>


{% endblock %}
