{% extends "AppBundle::layout.html.twig" %}

{% block stylesheet %}
    {{ parent () }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}


        <div class="well col-md-offset-2 col-md-8 no-bg">

        <h2 class="text-center">{{ 'reservation'|trans }}</h2>
        </div>






            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="well col-md-offset-2 col-md-8 no-bg">
                <div class="flash-notice text-center">
                    <i class="glyphicon glyphicon-info-sign"></i>
                    {{ 'datebilletsvalides'|trans }}
                </div>

            </div>

            {% endfor %}
    <div class="well col-md-offset-2 col-md-8 no-bg">

            <h5 class="text-center"><strong>{{ 'dateprevue'|trans }}: </strong>{{ commande
                .dateVisite|date
                ('d/m/Y') }}
            </h5>
            <span id="dateVisite" hidden>{{ commande.dateVisite|date("d/m/Y","Europe/Paris") }}</span>

</div>


    <div class="well col-md-offset-2 col-md-8 no-bg">
            {{ form_start(form, {'attr' : {'id' : 'resa_form'}}) }}
            {% for ticket in form.tickets %}

                <h3 class="text-center h3-resa"
                    style="text-decoration: underline;">{{ 'billet'|trans }} N° {{ loop.index }} </h3>
                <div class="form-group">
                    <i class="glyphicon glyphicon-user"></i>
                    {{ form_label(ticket.nom, 'nom'|trans) }}
                    {{ form_errors(ticket.nom) }}
                    {{ form_widget(ticket.nom, {'attr': {'name': 'Name_'}}) }}
                </div>
                <div class="form-group">
                    <i class="glyphicon glyphicon-user"></i>
                    {{ form_label(ticket.prenom, 'prenom'|trans) }}
                    {{ form_errors(ticket.prenom) }}
                    {{ form_widget(ticket.prenom, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    <i class="glyphicon glyphicon-globe"></i>
                    {{ form_label(ticket.pays, 'pays'|trans) }}
                    {{ form_errors(ticket.pays) }}
                    {{ form_widget(ticket.pays, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    <i class="glyphicon glyphicon-info-sign"></i>
                    {{ form_label(ticket.datenaissance, 'DatedeNaissance'|trans) }}
                    {{ form_errors(ticket.datenaissance) }}
                    {{ form_widget(ticket.datenaissance) }}
                </div>

                <div class="form-group">
                    {{ form_label(ticket.nom, 'tarifreduit'|trans) }}
                    {{ form_errors(ticket.tarifReduit) }}
                    {{ form_widget(ticket.tarifReduit) }}
                    <i class="glyphicon glyphicon-question-sign"></i><span> <em>{{ 'message.alert'|trans }}
                            <strong>{{ 'message.obligatoire'|trans }} </strong> {{ 'message.entree'|trans }}</em></span>
                </div>


            {% endfor %}

            {{ form_end(form) }}
        </div>
</div>



{% endblock %}
{% block javascripts %}
    {{ parent () }}
    <script>

        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //Janvier à 0!
        var yyyy = today.getFullYear();
        var hour = today.getHours();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        today = dd + '/' + mm + '/' + yyyy;
        if (today === document.getElementById("dateVisite").innerHTML && hour >= 14) {
            var select = document.getElementById("appbundle_commande_tickets_0_typeBillet");
            select.options[0].disabled= true;
            select.options[1].setAttribute("selected",
                "selected");
            select.options[0].setAttribute("id", "not-allowed");
        }
    </script>
{% endblock %}

